# autohURL

# **********************************************************************
# Global settings
# **********************************************************************

# These settings are for all folders being processed

# HTTP service address for monitoring
# addr = ":8080"

# Number of processors to use (default - all)
# cpu = 0

# Write cpu profile to file
# cpuprofile = ""

# Write memory profile to file
# memprofile = ""

# Set working directory
# wd = ""

# --- Default settings ----
# These settings are defaults if not specified by a folder's configuration

# interval to wait when no files found
# sleep = "60s"

# HTTP timeout
# timeout = "30s"

# File pattern
# files = "*.*"

# Number of concurrent HTTP connections
# conns = 10

# HTTP method (should be POST or PUT)
# method = "POST"

# Maximum file size - larger files are ignored
# maxsize = 1048576

# disable http compression
# nocompress = false

# Disable HTTP keep-alive (not recommended)
# nokeepalive = false

# Enable X-RequestId GUID header (provide header name)
# requestid = ""

# headers
# headers = ""

# header delimiter (since this one can be set on command line)
# hdrdelim = "|"

# dir batch size
# batchsize = 32768

# file info - whether to pass size, date, etc.
# fileinfo = false
fileinfo = true

# **********************************************************************
# Folder settings
# **********************************************************************

# These settings are per-folder

[folders]

	#[folders.Example]

	# These settings are per-folder with no defaulting

	# Folder path
	# folder = "/tmp"

	# URL to post to
	# url = "http://localhost:8000/"

	# Move successfully posted files to another folder instead of deleting them
	# moveto = ""

	# If a file fails to post you can choose to move it instead of keep trying
	# movefailedto = ""

	# The settings below take their defaults from above

	# interval to wait when no files found
	# sleep = "60s"

	# HTTP timeout
	# timeout = "30s"

	# File pattern
	# files = "*.*"

	# Number of concurrent HTTP connections
	# conns = 2

	# HTTP method (should be POST or PUT)
	# method = "POST"

	# Maximum file size - larger files are ignored
	# maxsize = 1048576

	# disable http compression
	# nocompress = false

	# Disable HTTP keep-alive (not recommended)
	# nokeepalive = false

	# Enable X-RequestId GUID header
	# requestid = ""

	# headers
	# headers = ""

	# header delimiter (since this one can be set on command line)
	# hdrdelim = "|"

	# dir batch size
	# batchsize = 32768

	# send file info
	# fileinfo = false

	[folders.test]
	folder = "test"
	url = "http://localhost:8000/"
	headers = "test-h1: 600|test-h2: hello"
	files = "*.bin"

	[folders.test2]
	folder = "test2"
	url = "http://localhost:8000/"
	files = "*.txt"